
.empty-cart .card {
    text-align: center;
    margin-top: 16px;
}
.product {
  display: flex;
  align-items: center;
  height: auto;
}

.empty-cart .card img {
    max-height: 250px;
}

.footer-card button {
    width: 100%;
}

.main .card {
    margin-bottom: 20px;
}

.price-details .card {
    position: sticky;
    top: 10px;
}

.total-amount {
    font-weight: 500;
    font-size: 18px;
}

.card-title:hover {
    color: var(--productTitleHoverColor);
    cursor: pointer;
}

.card-body {
  border-bottom: 1px solid #f0f0f0;
}
.card-body:last-child {
  border: none;
}

