/* Wrapper */
.wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: var(--header-background-color);
    z-index: 1000;
  }
  
  /* Navbar */
  .navbar {
    padding: 0.5rem 1rem;
  }
  
  .navbar-brand img {
    max-height: 40px;
  }
  
  /* .searchbar {
    flex: 1;
    max-width: 500px;
  } */

  .searchbar-holder {
    width: 100%;
  }

  .searchbar {
    width: 100%;
    max-width: 800px; /* Keeps a maximum width for larger screens */
    height: 40px;
    display: flex;
    flex-grow: 1; /* Allows the search bar to grow and take up available space */
}

.searchbar input {
    flex-grow: 1; /* Ensures the input element stretches within the available space */
    background-color: var(--searchbar-background-color);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
}
  
  .nav-item {
    margin-left: 15px;
  }
  
  .dropdown-menu {
    min-width: 200px;
  }
  
  .user-icon,
  .cart-icon {
    max-height: 24px;
  }
  
  .badge {
    font-size: 0.75rem;
    padding: 0.25em 0.5em;
  }
  .logout{
    cursor: pointer;
  }
  /* Media Queries */
  @media (max-width: 768px) {
    /* .searchbar {
      max-width: 100%;
      margin-bottom: 1rem;
    } */

    .searchbar {
        max-width: 100%; /* Remove maximum width for smaller screens */
        height: 36px; /* Adjust the height for smaller screens */
        margin: 0 auto; /* Center the search bar if necessary */
    }
    .searchbar input {
        font-size: 12px; 
        padding: 6px;
    }
    .navbar-nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .dropdown-menu {
      position: static;
      width: 100%;
      border: none;
      box-shadow: none;
      background-color: transparent;
    }
  }

  @media (max-width: 480px) {
    .searchbar {
        flex-direction: column; /* Stack elements vertically if necessary */
        align-items: center;
    }

    .searchbar input {
        width: 100%; /* Ensure full width on small screens */
        margin-top: 10px;
        margin-bottom: 10px; /* Add spacing if other elements are below */
    }
}
  
  @media (max-width: 576px) {
    .nav-item {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }
  