<header>
    <div class="wrapper pt-2 pb-2">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <!-- Brand Logo -->
            <a class="navbar-brand" routerLink="/">
              <img
                data-toggle="tooltip"
                data-placement="bottom"
                title="Flipkart"
                src="assets/images/app-logo.svg"
                alt="app-logo"
              />
            </a>
  
            <!-- Mobile Toggle -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
  
            <!-- Searchbar -->
             <div class="searchbar-holder">
                <form
                *ngIf="!HeaderForCheckoutPageStatus"
                class="d-flex searchbar flex-grow-1"
                role="search"
              >
                <input
                  class="form-control me-2"
                  type="text"
                  [(ngModel)]="searchTerm"
                  (keyup.enter)="search()"
                  title="Search for Products, Brands and More"
                  name="search"
                  autocomplete="off"
                  placeholder="Search for Products, Brands and More"
                  aria-label="Search"
                />
              </form>
             </div>
  
            <!-- Navbar Collapse -->
            <div
              *ngIf="!HeaderForCheckoutPageStatus"
              class="collapse navbar-collapse"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
                <!-- Login Section -->
                <li
                  class="nav-item dropdown"
                  (mouseenter)="mouseEnter()"
                  (mouseleave)="mouseLeave()"
                >
                  <a
                    class="nav-link dropdown-toggle d-flex align-items-center"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <img
                      class="me-2 user-icon"
                      src="assets/images/user-icon.svg"
                      alt="user-icon"
                      width="24"
                      height="24"
                    />
                    <span *ngIf="!isUserLoggedIn && !isLoading">Login</span>
                    <span *ngIf="isUserLoggedIn">{{ userDetails?.firstName }}</span>
                    <div
                      *ngIf="isLoading"
                      class="spinner-border spinner-border-sm text-primary ms-2"
                      role="status"
                    ></div>
                  </a>
  
                  <ul class="dropdown-menu">
                    <li *ngIf="!isUserLoggedIn">
                      <a class="dropdown-item" routerLink="/signup">New customer? Sign Up</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/personal-info/account">My Profile</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/personal-info/my-orders">Orders</a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="/personal-info/wishlist">Wishlist</a>
                    </li>
                    <li class="logout" *ngIf="isUserLoggedIn">
                      <a class="dropdown-item" (click)="logOut()">Logout</a>
                    </li>
                  </ul>
                </li>
  
                <!-- Cart Section -->
                <li
                  class="nav-item"
                  *ngIf="showCartIcon && !isLoading"
                >
                  <a
                    class="nav-link d-flex align-items-center"
                    [routerLink]="['/viewcart']"
                  >
                    <img
                      class="me-2 cart-icon"
                      src="assets/images/cart-icon.svg"
                      alt="cart-icon"
                      width="24"
                      height="24"
                    />
                    <span>Cart</span>
                    <span
                      class="badge bg-danger ms-2"
                      *ngIf="cartItemCount > 0 && !isLoading"
                    >
                      {{ cartItemCount }}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  