<app-head></app-head>
<div class="container">
  <div class="row">
    <!-- Sidebar -->
     <div class="col-xl-3">
        <app-sidebar></app-sidebar>
    </div>
    <!-- Content Area -->
    <div class="main col-xl-9 flex-grow-1 ps-3 mt-4">
    <div class="content-container card mb-3">
        <!-- <h3>{{ activeSection | titlecase }}</h3> -->
        <ng-container [ngSwitch]="activeSection">
          <!-- Personal Information -->
          <div *ngSwitchCase="'account'">

            <div *ngIf="isLoading" class="loading-container">
              <div class="loading-spinner"></div>
              <p class="loading-text">{{ loadingMessage }}</p>
            </div>

            <div *ngIf="!isLoading" class="personal-info-holder ms-4">
              <div class="row">
                <h4 class="col-xl-4">Personal Information</h4>
                <button
                type="button"
                class="btn btn-primary col-xl-8 edit"
                (click)="toggleEdit('personal-form')"
                *ngIf="!isEditingPersonalForm"
              >
                Edit
              </button>
              </div>
              <form [formGroup]="personalInfoForm" (ngSubmit)="onContactFormSubmit()" class="personal-info">
                <div class="form-group">
                  <label for="firstName">First Name</label>
                  <input
                    type="text"
                    id="firstName"
                    class="form-control"
                    formControlName="firstName"
                    name="firstName"
                    placeholder="Enter your first name"
                  />
                </div>
            
                <div class="form-group">
                  <label for="lastName">Last Name</label>
                  <input
                    type="text"
                    id="lastName"
                    class="form-control"
                    formControlName="lastName"
                    name="lastName"
                    placeholder="Enter your last name"
                  />
                </div>
            
                <div class="form-group">
                  <label>Gender</label>
                  <div class="form-check">
                    <input
                    formControlName="gender"
                      class="form-check-input"
                      type="radio"
                      id="male"
                      value="male"
                    />
                    <label class="form-check-label" for="male">Male</label>
                  </div>
                  <div class="form-check">
                    <input
                    formControlName="gender"
                      class="form-check-input"
                      type="radio"
                      id="female"
                      value="female"
                    />
                    <label class="form-check-label" for="female">Female</label>
                  </div>
                </div>
                
                <!-- Edit and Cancel Buttons -->
                <div class="mt-3">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancel('personal-form')"
                    *ngIf="isEditingPersonalForm"
                  >
                    Cancel
                  </button>
                  <button
                  type="submit"
                  class="btn btn-success ms-4"
                  *ngIf="isEditingPersonalForm"
                >
                  Save
                </button>
                </div>
              </form>
            </div>

            <div *ngIf="!isLoading" class="Email-info-holder ms-4">
              <div class="row">
                <h4 class="col-xl-4">Email Address</h4>
                <button
                type="button"
                class="btn btn-primary col-xl-8 edit"
                (click)="toggleEdit('email')"
                *ngIf="!isEditingEmailForm"
              >
                Edit
              </button>
              </div>
              <form [formGroup]="emailInfoForm" (ngSubmit)="onEmailFormSubmit()" class="personal-info">
                <div class="form-group">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    id="email"
                    class="form-control"
                    formControlName="email"
                    name="email"
                    placeholder="Enter your Email Address"
                    [class.is-invalid]="email?.touched && email?.invalid"
                    [class.is-valid]="email?.touched && email?.valid"
                  />
                </div>


    <!-- Verification Status -->
    <div class="mt-3 d-flex align-items-center">
      <p class="text-muted m-0">
        Status: 
        <span
          [ngClass]="{
            'text-success': isEmailVerified,
            'text-danger': !isEmailVerified
          }"
        >
          {{ isEmailVerified ? 'Verified' : 'Not Verified' }}
        </span>
      </p>

      <!-- <button
        *ngIf="!isEmailVerified"
        type="button"
        class="btn btn-link"
        (click)="onSendVerificationEmail()"
      >
        Verify
      </button> -->

             <!-- Verification message while process is in progress -->
             <p *ngIf="!isEmailVerified" class="text-warning ms-4 my-0">
              Please reload the page to refresh and check your email verification status....
            </p>
    </div>

                
                <!-- Edit and Cancel Buttons -->
                <div class="mt-3">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancel('email')"
                    *ngIf="isEditingEmailForm"
                  >
                    Cancel
                  </button>
                  <button
                  type="submit"
                  class="btn btn-success ms-4"
                  *ngIf="isEditingEmailForm"
                >
                  Save
                </button>
                </div>
              </form>
            </div>

            <div *ngIf="!isLoading" class="mobile-info-holder ms-4">
              <div class="row">
                <h4 class="col-xl-4">Mobile Number</h4>
                <button
                type="button"
                class="btn btn-primary col-xl-8 edit"
                (click)="toggleEdit('mobile')"
                *ngIf="!isEditingMobileForm"
              >
                Edit
              </button>
              </div>
              <form [formGroup]="mobileInfoForm" (ngSubmit)="onMobileFormSubmit()" class="personal-info">
                <div class="form-group">
                  <label for="email">Mobile Number</label>
                  <input
                    type="number"
                    id="mobile"
                    class="form-control"
                    formControlName="mobile"
                    name="mobile"
                    placeholder="Enter your Mobile Number"
                  />
                </div>
                
                <!-- Edit and Cancel Buttons -->
                <div class="mt-3">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancel('mobile')"
                    *ngIf="isEditingMobileForm"
                  >
                    Cancel
                  </button>
                  <button
                  type="submit"
                  class="btn btn-success ms-4"
                  *ngIf="isEditingMobileForm"
                >
                  Save
                </button>
                </div>
              </form>
            </div>

            
                              <!-- Changing Email requires a password  / This is  a password Modal -->

                
                              <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                  <div class="modal-content">
                                  <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()" class="password-form">
                                    <div class="modal-header"> 
                                      <h5 class="modal-title" id="passwordModalLabel fw-bold">Please enter your password</h5>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
              
                                      
              
                                        <div class="form-group mb-3">
                                          <label class="mb-2" for="password">Password</label>
                                          <input
                                          id="password"
                                          formControlName="password"
                                          type="password"
                                          name="password"
                                          class="form-control"
                                          placeholder="Enter Password"
                                          [class.is-invalid]="password?.touched && password?.invalid"
                                          [class.is-valid]="password?.touched && password?.valid"
                                          />
                                          <span class="invalid-feedback"
                                          *ngIf="password?.touched && password?.invalid">
                                            Please enter valid 6 digit Password
                                          </span>
                                        </div>

              
                                    </div>
                                    <div class="modal-footer">
                                      <button [disabled]="passwordForm.invalid" type="submit" class="btn btn-primary">update</button>
                                    </div>
                                  </form>
                                  </div>
                                </div>
                              </div>
              
                               <!-- Changing Email requires a password  / This is  a password Modal -->

          </div>
          <!-- My Orders -->
          <div *ngSwitchCase="'my-orders'">
            
            <div *ngIf="isLoading" class="loading-container">
              <div class="loading-spinner"></div>
              <p class="loading-text">{{ loadingMessage }}</p>
            </div>

            <div *ngIf="!isLoading && orderList.length === 0" class="row empty-order-list text-center">
      
                <div class="col-xl-12">
                    <div class="ms-auto me-auto p-4">
                        <img src="assets/images/emptyOrders-icon.png" alt="emptyOrders-icon">
                        <h3 class="empty-title mt-4">You have no orders</h3>
                        <button class="btn btn-primary mt-4 ms-auto me-auto">Start Shopping</button>
                    </div>
                </div>
            </div>

            <div *ngIf="!isLoading && orderList.length > 0" class="row mt-4 oder-summery-holder">
              <h4 class="mb-4">Order Summary ({{ orderList.length }})</h4>
              <div class="col-lg-12">
                <div *ngFor="let item of orderList" class="card mb-4 shadow">
                  <div class="card-body">
                      <!-- Order Date and Time -->
                    <div class="row mb-3">
                      <div class="col-md-12 d-flex justify-content-end align-items-center">
                        <p class="mb-0 text-muted small">
                          <strong class="text-primary">Order Date: </strong> 
                          <span class="ml-2">{{ item.orderDate | date: 'MMM d, y, h:mm a' }}</span>
                        </p>
                      </div>
                    </div>
                    <!-- Loop through all products -->
                    <div *ngFor="let product of item.products" class="row align-items-center mb-3 border-bottom pb-3">
                      <!-- Product Image -->
                      <div class="col-md-3 text-center">
                        <img
                          src="{{ product.itemImage || 'assets/default-product.png' }}"
                          alt="{{ product.itemName }}"
                          class="img-fluid rounded productList-item-img "
                        />
                      </div>
                      <!-- Product Details -->
                      <div class="col-md-5">
                        <p class="mb-1 mt-3"><strong>Name:</strong> {{ product.itemName }}</p>
                        <p class="mb-1"><strong>Category:</strong> {{ product.itemCategory }}</p>
                        <p class="mb-1"><strong>Price:</strong> ₹{{ product.itemPrice }}</p>
                      </div>
                                            <!-- Product Price and Order Summary -->
                                            <!-- <div class="col-md-4 text-right">
                                              <p class="mb-1"><strong>Price:</strong> ₹{{ product.itemPrice }}</p>
                                            </div> -->
                    </div>
            
                    <!-- Order Summary -->
                    <div class="row mt-3 text-right">
                      <div class="col-md-12">
                        <p><strong>Total Purchase Amount:</strong> ₹{{ item.totalAmount }}</p>
                        <p><strong>Payment Method:</strong> {{ item.paymentMethod }}</p>
                      </div>
                    </div>
                  </div>
            
                  <!-- Card Footer -->
                  <!-- <div class="card-footer text-center">
                    <button class="btn btn-primary w-25">Continue Shopping</button>
                  </div> -->
                </div>
              </div>
            </div>
            
          </div>

          <!-- Manage Address -->
          <div *ngSwitchCase="'manage-address'">

            <div *ngIf="isLoading" class="loading-container">
              <div class="loading-spinner"></div>
              <p class="loading-text">{{ loadingMessage }}</p>
            </div>
            
            <div *ngIf="!isLoading" class="manage-address-holder ms-4">
              <div class="row">
                <h4 class="col-xl-4">Manage Address</h4>
                <button
                  type="button"
                  class="btn btn-primary col-xl-8 edit"
                  (click)="toggleEdit('address-form')"
                  *ngIf="!isEditingAddressForm"
                >
                  Edit
                </button>
              </div>
            
              <form [formGroup]="addressForm" (ngSubmit)="onAddressFormSubmit()" class="address-info">
                <!-- Name -->
                <div class="form-group">
                  <label for="name">Name</label>
                  <input
                    type="text"
                    id="name"
                    class="form-control"
                    formControlName="name"
                    placeholder="Enter your name"
                  />
                  <div *ngIf="addressForm.get('name')?.invalid && addressForm.get('name')?.touched" class="text-danger">
                    Name is required and must be at least 3 characters long.
                  </div>
                </div>
            
                <!-- Mobile -->
                <div class="form-group">
                  <label for="mobile">Mobile</label>
                  <input
                    type="text"
                    id="mobilePhone"
                    class="form-control"
                    formControlName="mobilePhone"
                    placeholder="Enter your mobile number"
                  />
                  <div *ngIf="addressForm.get('mobilePhone')?.invalid && addressForm.get('mobilePhone')?.touched" class="text-danger">
                    Enter a valid 10-digit mobile number.
                  </div>
                </div>
            
                <!-- Pin Code -->
                <div class="form-group">
                  <label for="pinCode">Pin Code</label>
                  <input
                    type="text"
                    id="pinCode"
                    class="form-control"
                    formControlName="pinCode"
                    placeholder="Enter your pin code"
                  />
                  <div *ngIf="addressForm.get('pinCode')?.invalid && addressForm.get('pinCode')?.touched" class="text-danger">
                    Enter a valid 6-digit pin code.
                  </div>
                </div>
            
                <!-- Main Address -->
                <div class="form-group">
                  <label for="mainAddress">Main Address</label>
                  <textarea
                    id="mainAddress"
                    rows="3"
                    class="form-control"
                    formControlName="mainAddress"
                    placeholder="Enter your address"
                  ></textarea>
                  <div *ngIf="addressForm.get('mainAddress')?.invalid && addressForm.get('mainAddress')?.touched" class="text-danger">
                    Address is required and must be at least 10 characters long.
                  </div>
                </div>
            
                <!-- City/District/Town -->
                <div class="form-group">
                  <label for="city">City/District/Town</label>
                  <input
                    type="text"
                    id="city"
                    class="form-control"
                    formControlName="city"
                    placeholder="Enter your city/district/town"
                  />
                  <div *ngIf="addressForm.get('city')?.invalid && addressForm.get('city')?.touched" class="text-danger">
                    City is required.
                  </div>
                </div>
            
                <!-- State -->
                <div class="form-group">
                  <label for="state">State</label>
                  <input
                    type="text"
                    id="state"
                    class="form-control"
                    formControlName="state"
                    placeholder="Enter your state"
                  />
                  <div *ngIf="addressForm.get('state')?.invalid && addressForm.get('state')?.touched" class="text-danger">
                    State is required.
                  </div>
                </div>
            
                <!-- Edit and Cancel Buttons -->
                <div class="mt-3">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    (click)="cancel('address-form')"
                    *ngIf="isEditingAddressForm"
                  >
                    Cancel
                  </button>
                  <button
                    type="submit"
                    class="btn btn-success ms-4"
                    *ngIf="isEditingAddressForm"
                    [disabled]="addressForm.invalid"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>

          </div>
          <!-- Wishlist -->
          <div *ngSwitchCase="'wishlist'">

            <div *ngIf="isLoading" class="loading-container">
              <div class="loading-spinner"></div>
              <p class="loading-text">{{ loadingMessage }}</p>
            </div>
            
            <div *ngIf="!isLoading && wishlistItems.length === 0" class="row empty-wishlist text-center">
      
              <div class="col-xl-12">
                  <div class="ms-auto me-auto p-4">
                      <img src="assets/images/empty-wishlist-icon.png" alt="empty-wishlist-icon">
                      <h3 class="empty-title mt-4">Empty Wishlist</h3>
                      <p class="empty-description mt-4">You have no items in your wishlist. Start adding!</p>
                  </div>
              </div>
            
            </div>

            <div *ngIf="!isLoading && wishlistItems.length > 0" class="wishlist-holder mt-4">
              <div class="row">
                <h4 class="mb-4">My Wishlist ({{wishlistItems.length}})</h4>
                <div class="col-md-4 mb-4" *ngFor="let wishlist of wishlistItems">
                  <div class="card h-100">
                    <img
                      class="card-img-top img-fluid wishlist-img p-4"
                      [src]="wishlist.itemImage"
                      [alt]="wishlist.itemName"
                    />
                    <div class="card-body">
                      <h5 (click)="goToDetails(wishlist)" class="card-title wishlist-title"> {{wishlist.itemName}} </h5>
                      <p class="card-text text-muted mb-2 wishlist-text">
                        <strong>Category:</strong> {{ wishlist.itemCategory }}
                      </p>
                      <p class="card-text text-success wishlist-text">
                        ₹ {{wishlist.itemPrice}}  <span class="text-muted"><del>₹ 11199.99 </del></span>
                      </p>
                      <p class="card-text wishlist-text">
                        <span class="badge bg-primary">20 % off</span>
                      </p>
                      <p class="card-text wishlist-text">
                        <span class="text-warning">
                          ★ {{ wishlist.itemRatingRate }}
                        </span> 
                        ({{ wishlist.itemRatingCount }} reviews)
                      </p>
                    </div>
                    <div class="card-footer text-center wishlist-footer">
                      <button (click)="removePopup(wishlist)" class="btn btn-danger btn-sm">
                        Remove
                      </button>
                    </div>


                                          <!-- Modal -->

                                          <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                              <div class="modal-content">
                                                <div class="modal-header"> 
                                                  <h5 class="modal-title" id="confirmationModalLabel fw-bold">Confirm Deletion</h5>
                                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                  Are you sure you want to delete this item?
                                                </div>
                                                <div class="modal-footer">
                                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                  <button type="button" class="btn btn-primary" (click)="removeProductFromWishList(true)">Remove</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                      
                                           <!-- Modal -->


                  </div>
                </div>
              </div>
            </div>
            

          </div>
          <!-- Default -->
          <div *ngSwitchDefault>
            <p>Please select a section from the sidebar.</p>
          </div>
        </ng-container>
    </div>
    </div>

  </div>
</div>
